<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.aptoide.partners"
          android:versionCode="431"
          android:versionName="5.0.0">

    <uses-sdk android:minSdkVersion="7" android:targetSdkVersion="19"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT"/>
    <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INSTALL_PACKAGES"/>

    <application android:icon="@drawable/icon_brand_aptoide"
                 android:name="com.aptoide.partners.AptoidePartner"
                 android:label="AptoidePartner"
                 android:theme="@style/AptoideThemeDefault"
                 android:hardwareAccelerated="true">

        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/app_id"/>
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />

        <activity android:name=".StartPartner"
                  android:launchMode="singleTask"
                  android:label="AptoidePartner"
                  android:icon="@drawable/icon_brand_aptoide"
                  android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <meta-data
                    android:name="android.app.default_searchable"
                    android:value="cm.aptoide.ptdev.SearchManager"/>
        </activity>

        <activity-alias
                android:enabled="true"
                android:name=".StartPartner"
                android:exported="true"
                android:label="@string/app_name"
                android:icon="@drawable/icon_brand_aptoide"
                android:targetActivity=".StartPartner">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <meta-data
                    android:name="android.app.default_searchable"
                    android:value="cm.aptoide.ptdev.SearchManager"/>
        </activity-alias>

        <activity android:name="cm.aptoide.ptdev.tutorial.Tutorial" />

        <activity android:name="com.facebook.LoginActivity"  />

        <activity android:name="cm.aptoide.ptdev.MoreEditorsChoiceActitivy"  />

        <activity android:name="cm.aptoide.ptdev.MoreTopAppsActivity"  />

        <activity android:name="cm.aptoide.ptdev.MyAccountActivity" />

        <activity android:name="cm.aptoide.ptdev.MoreRelatedActivity" />

        <activity android:name="cm.aptoide.ptdev.MoreUserBasedActivity" />

        <activity android:name="cm.aptoide.ptdev.LoginActivity" />

        <activity android:name="cm.aptoide.ptdev.SignUpActivity" />

        <activity android:name="cm.aptoide.ptdev.StoreActivity"/>

        <activity android:name=".AppViewActivityPartner" />

        <activity android:name="cm.aptoide.ptdev.downloadmanager.PermissionsActivity"
                  android:theme="@style/transparent"
                  android:launchMode="standard"/>

        <activity android:name="cm.aptoide.ptdev.ScreenshotsViewer"/>

        <activity android:name="cm.aptoide.ptdev.AllCommentsActivity"/>

        <activity android:name="cm.aptoide.ptdev.social.WebViewFacebook"/>

        <activity android:name="cm.aptoide.ptdev.social.WebViewTwitter"/>

        <activity android:name="cm.aptoide.ptdev.ScheduledDownloadsActivity"/>

        <activity android:name="cm.aptoide.ptdev.ExcludedUpdatesActivity"/>

        <activity android:name="cm.aptoide.ptdev.RollbackActivity"/>

        <activity android:name="com.aptoide.partners.SettingsPartner"
                  android:label="@string/settings_title_bar"
                  android:theme="@style/Settings"/>

        <activity android:name="cm.aptoide.ptdev.SearchManager"
                  android:exported="false">

            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

            <meta-data android:name="android.app.searchable"
                       android:resource="@xml/find"/>
        </activity>

        <activity android:name="cm.aptoide.ptdev.IntentReceiver" android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="file" android:mimeType="application/vnd.cm.aptoide.pt"/>
                <data android:scheme="http" android:mimeType="application/vnd.cm.aptoide.pt"/>
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="aptoiderepo" />
                <data android:scheme="aptoidexml" />
                <data android:scheme="aptoideinstall"/>
                <data android:scheme="aptoidesearch" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="market" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:host="market.android.com"
                      android:scheme="https" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="https"
                      android:host="webservices.aptoide.com" android:pathPrefix="/apkinstall"/>

            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:host="play.google.com"
                      android:scheme="https" />
                <data android:host="play.google.com"
                      android:scheme="http" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http"
                      android:host="imgs.aptoide.com"
                      android:pathPattern="*//.myapp"/>
            </intent-filter>


        </activity>

        <activity android:name="com.mopub.mobileads.MoPubActivity" android:configChanges="keyboardHidden|orientation"/>
        <activity android:name="com.mopub.mobileads.MraidActivity" android:configChanges="keyboardHidden|orientation"/>
        <activity android:name="com.mopub.mobileads.MraidBrowser" android:configChanges="keyboardHidden|orientation"/>
        <activity android:name="com.mopub.mobileads.MraidVideoPlayerActivity" android:configChanges="keyboardHidden|orientation"/>
        <activity android:name="com.google.android.gms.ads.AdActivity" android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"/>
        <activity android:name="com.millennialmedia.android.MMActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar" android:configChanges="keyboardHidden|orientation|keyboard" />

        <activity android:name="com.inmobi.androidsdk.IMBrowserActivity"
                  android:configChanges="keyboardHidden|orientation|keyboard|smallestScreenSize|screenSize"
                  android:hardwareAccelerated="true"/>
        <activity android:name="com.adsdk.sdk.banner.InAppWebView"
                  android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />

        <activity android:name="com.adsdk.sdk.mraid.MraidActivity"
                  android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />

        <activity android:name="cm.aptoide.ptdev.widget.SearchWidgetActivity"
                  android:launchMode="singleInstance"/>

        <service android:name="cm.aptoide.ptdev.services.RabbitMqService"
                 android:label="WebInstallService"
                 android:exported="false"/>

        <service android:name="cm.aptoide.ptdev.services.ParserService"
                 android:label="ParserService"
                 android:exported="false"/>

        <service android:name="cm.aptoide.ptdev.services.ParserHttp"
                 android:label="ParserHttp"
                 android:exported="false"/>

        <service android:name="cm.aptoide.ptdev.services.HttpClientSpiceService"
                 android:label="HttpService"
                 android:exported="false"/>

        <service android:name="cm.aptoide.ptdev.services.DownloadService"
                 android:label="DownloadService"
                 android:exported="false"/>

        <provider android:name="cm.aptoide.ptdev.SuggestionProvider"
                  android:authorities="com.aptoide.partners.SuggestionProvider" android:exported="false"/>

        <provider android:name="cm.aptoide.ptdev.StubProvider"
                  android:authorities="com.aptoide.partners.StubProvider"
                  android:exported="false"/>

        <provider android:name="cm.aptoide.ptdev.UpdatesProvider"
                  android:authorities="com.aptoide.partners.UpdatesProvider"
                  android:label="Updates notification"
                  android:exported="false"/>

        <provider android:name="cm.aptoide.ptdev.AutoUpdateProvider"
                  android:authorities="com.aptoide.partners.AutoUpdateProvider"
                  android:label="Auto-Update Apps"
                  android:exported="false"/>

        <service android:name="cm.aptoide.ptdev.services.AccountAuthenticatorService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator"/>
            </intent-filter>
            <meta-data android:name="android.accounts.AccountAuthenticator"
                       android:resource="@xml/partners_authenticator"/>
        </service>

        <service android:name="cm.aptoide.ptdev.services.WebInstallSyncService"
                 android:exported="true" >
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>
            <meta-data android:name="android.content.SyncAdapter"
                       android:resource="@xml/partners_sync_adapter" />
        </service>

        <service android:name="cm.aptoide.ptdev.services.UpdatesSyncService"
                 android:exported="true" >
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>
            <meta-data android:name="android.content.SyncAdapter"
                       android:resource="@xml/partners_updates_sync_adapter" />
        </service>

        <service android:name="cm.aptoide.ptdev.services.AutoUpdateSyncService"
                 android:exported="true">
            <intent-filter>
                <action android:name="android.content.SyncAdapter"/>
            </intent-filter>
            <meta-data android:name="android.content.SyncAdapter"
                       android:resource="@xml/partners_autoupdate_sync_adapter"/>
        </service>

        <receiver android:name="cm.aptoide.ptdev.InstalledBroadcastReceiver" >
            <intent-filter android:priority="999">
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <action android:name="android.intent.action.PACKAGE_REPLACED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <receiver android:name="cm.aptoide.ptdev.widget.SearchWidgetProvider" >
            <intent-filter >
                <action
                        android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                    android:name="android.appwidget.provider"
                    android:resource="@xml/search_widget_info" />
        </receiver>

        <receiver android:name="cm.aptoide.ptdev.WifiStateListener" >
            <intent-filter>
                <action android:name="android.net.wifi.STATE_CHANGE" />
            </intent-filter>
        </receiver>

        <receiver android:name="cm.aptoide.ptdev.NetworkStateListener" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>
    </application>
</manifest>
